@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 style="color:purple" class="display-4"><strong>Taha ASP.Net MVC Web Projesi</strong></h3>
    <h3 style="color:purple" class="display-4"><strong>Online Kütüphane</strong></h3>
    <br />
    <p><img src="/img/Cat.jpg"</p>
</div>
