@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <h1 style="color:purple">@ViewData["Title"]</h1>
    <br />
    <h3>E-Posta Adresi:</h3>
    <h3>
        <a href="mailto:taha.ozberber@gmail.com">taha.ozberber@gmail.com</a>
    </h3>
</div>
